<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Patrick Nguyen's Personal Site</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Patrick Nguyen</a></h1>
        <!--<div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/hoangphuc/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>-->
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#Blog" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Blog</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Patrick Nguyen</h1>
      <p>I'm <span class="typed" data-typed-items="BI Consultant, Developer, Data Engineer, Freelancer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>A passionate, value-driven data analytics consultant with diverse work experience at solution providers like IBM, Oracle, and end-user environments like P&G and Cooperators Insurance, leading and managing world-class technology innovations while driving the attainment of business goals. Blend technology skills with extensive project management, customer experiences and analytical abilities to evolve business technology strategy. Seek opportunities to transform company practices into fresh, cost-effective solutions leading to more efficient operations.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="static/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>BI Consultant &amp; Data Engineer.</h3>
            <p class="fst-italic">
              More than 15 years of experience in data fields, including ETL/data warehouse design and implementation, data analytics and data engineering
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>416 939 3990</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Toronto, Canada</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Masters</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>hoangphuc@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

     <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Summary of main skills. Recently I've obtained Azure Data Engineer Certificate.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">SQL <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Azure Synapse <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Data WareHouse <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">ETL/ELT <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Tableau <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Data Enthusiast with 15 years of working experience in Data Warehouse/ETL/Data Engineering/Data Analytics/Business Intelligence.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Business Intelligence Consultant</h4>
              <h5>The Co-operators - Toronto</h5>
              <p><em>Mar 2021 - Present</em></p>
              <ul>
                <li>Successfully lead in the design, development, and implementation of ETL/Data Warehouse Components in the project of moving the core systems to the cloud, migrating more than 1,000 tables and nearly 100 stored procedures to Azure Synapse</li>
                <li>Working with business stakeholders to identify data model changes, build new data pipeline, design new data marts (Azure Synapse) and data visualization (MicroStrategy). </li>
                <li>Coordinating with internal and external partners/teams to resolve blockers and issues for projects. </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>BI Report Consultant</h4>
              <h5>FIIX Software (Rockwell Automation) - Toronto</h5>
              <p><em>Aug 2020 - Mar 2021</em></p>
              <ul>
                <li>Conducted in-depth data mining (MySQL, PostgreSQL), visualization and analysis (Looker, Tableau) to uncover and rectify process weaknesses and vulnerabilities and opportunities for improvements</li>
                <li>Conducted data analytics to identify customer success scores, understand the customer feedbacks, and provider customer insights to management team</li>
                <li>Designed data models and dashboards/reports in Looker BI tool</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Product Manager Intern</h4>
              <h5>BMO - Toronto </h5>
              <p><em>May 2019 - Aug 2019</em></p>
              <ul>
                <li>Conducted market research and data analytics to identify product gaps, understand the competitive landscape, and find grey space for the team to innovate and refine the value proposition</li>
                <li>Led the Fee Strategy Project to drive the incremental revenues of $5M per year for the mortgage team</li>
                <li>Worked on Home Financing Transformation project to identify customer home buying journey, simplifying processes, and implementing digital tools to improve customer experiences</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Senior Consultant</h4>
              <h5>Oracle</h5>
              <p><em>Jun 2017 - Aug 2018</em></p>
              <ul>
                <li>Transformed one of the largest private banks in Vietnam (Asia Commercial Bank) to adopt Oracle ERP and Analytics cloud solution, optimizing procurement team from 120 to 20 staff and reducing maintenance cost by 30% as compared to the old system</li>
                <li>Managed cloud project deployment and customer success, delivering on-time and on-budget go-live of Budgeting and Planning cloud solution (Oracle EPM) for the largest microfinance company (FE Credit) in Vietnam, including ETL, reporting systems and data visualization tools.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Solution Consultant</h4>
              <h5>INFOR</h5>
              <p><em>Jan 2013 - May 2017</em></p>
              <ul>
                <li>Reviewed and analyzed the client’s operations and processes and recommending improvements.</li>
                <li>Worked with teams across multiple geographic locations, workforces and key stakeholders’ groups to develop proposals and recommendations for customers.</li>
                <li>Deployed 50 projects successfully in more than 4 years.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>ETL Solution Consultant</h4>
              <h5>Oracle</h5>
              <p><em>Jan 2011 - Dec 2012</em></p>
              <ul>
                <li>Advised customers on Oracle ETL, Analytics (OBIEE), and reporting tools. Optimized data collection procedures and designed reporting systems.</li>
                <li>Designed and Implemented Oracle Datawarehouse, Integration, and BI platform for the largest bank in Cambodia, including data models.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Business Analyst</h4>
              <h5>IBM</h5>
              <p><em>Jun 2008 - Dec 2010</em></p>
              <ul>
                <li>Worked with stakeholders to gather business requirements and propose solutions.</li>
                <li>Developed and implemented a collaboration system for the Vietnamese government, one of the largest contracts in Asia under tight deadlines.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Business Analyst</h4>
              <h5>PROCTER & GAMBLE</h5>
              <p><em>Jun 2008 - Dec 2010</em></p>
              <ul>
                <li>Deployed the largest project (ERP/CRM) at P&G Vietnam, which consisted of 20 key members, deployed for 2 years, and involved more than 1,000 stakeholders under tight deadlines.</li>
                <li>Designed data warehouse to aggerate data from various core systems, gained insights and created meaningful reports and dashboards for executive team in different departments.</li>
              </ul>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>MBA - Data Analytics</h4>
              <h5>2018 - 2020</h5>
              <p><em>Schulich School of Business, York University, Toronto</em></p>
              <p>MBA program with specialization in data analytics</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Software Engineering</h4>
              <h5>2002 - 2006</h5>
              <p><em>RMIT University, Vietnam</em></p>
              <p>Major Courses: Object Oriented Programming, Data Structures & Algorithms</p>
            </div>


          <h3 class="resume-title">Certificates</h3>
            <div class="resume-item">
              <h4>Azure Data Engineer (DP-203)</h4>
              <p><em>Earning the Azure Data Engineer Associate certification validates the skills and expertise in integrating, transforming, and consolidating data from various structured and unstructured data systems into structures that are suitable for building analytics solutions. Candidates have a solid knowledge of data processing languages, such as SQL, Python, or Scala, and they need to understand parallel processing and data architecture patterns.</em></p>
              <p><a href="https://www.credly.com/badges/69794a8d-b500-4f4f-897a-a5045100e4c6">Show credential</a></p>
            </div>

            <div class="resume-item">
              <h4>Azure Data Fundamentals (DP-900)</h4>
              <p><em>Earners of the Azure Data Fundamentals certification have demonstrated foundational knowledge of core data concepts and how they are implemented using Microsoft Azure data services.</em></p>
              <p><a href="https://www.credly.com/badges/9c6e7b50-420a-4ac8-bd69-6eace02a0826">Show credential</a></p>
            </div>

          <div class="resume-item">
              <h4>Google Analytics Individual Qualification</h4>
              <p><em>Obtaining a Google Analytics certification can give you a good understanding of what data analytics is and how to utilise it effectively.</em></p>
              <p><a href="https://skillshop.exceedlms.com/student/award/55111091">Show credential</a></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Blog Section ======= -->
    <section id="Blog" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Blog</h2>
          <p>My articles about Technology, Strategy, Self-Motivation and others</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-technology">Technology</li>
              <li data-filter=".filter-strategy">Strategy</li>
              <li data-filter=".filter-motivation">Motivation</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {% for post in all_posts %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{ post.category }}">
            <div class="portfolio-wrap">
              <h4 class="title"><a href="">{{ post.title }}</a></h4>
              <img src="{{ post.thumnail }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{ post.thumnail }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="{{ url_for('show_post', index=post.id) }}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>These are my areas of expertise. I'm happy in helping my clients in the journey to increase the operation efficiencies by applying data insights and technology.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Business Analysis</a></h4>
            <p class="description">Requirement Gathering, UML diagrams, SWOT Analysis, Process flow diagram, Entity-Relationship Diagram, Scope Identification, Feasibility Analysis</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Data Analytics</a></h4>
            <p class="description">Data Collection & Mining, Data Cleansing, Exploratory Analysis, Descriptive Analysis, Predictive Analysis </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Building Data Pipeline</a></h4>
            <p class="description">Building ETL, Data Orchestration, Data Mapping</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Data Modelling</a></h4>
            <p class="description">Building Data Warehouse & Data Modeling, Data Dictionary, Data CataLog, Data Governance</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Data Visualization</a></h4>
            <p class="description">Building Charts, Reports & DashBoards, Data Stories</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Software Development</a></h4>
            <p class="description">Python development, Website Development</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <!--<section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>End testimonial item -->

           <!-- <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div> End testimonial item -->

           <!-- <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div> End testimonial item -->
<!--
      </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Toronto, Canada</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>hoangphuc@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>416 939 3990</p>
              </div>

            </div>

          </div>
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <img src="https://i.etsystatic.com/5346063/r/il/15bc82/2714088373/il_fullxfull.2714088373_tslt.jpg" frameborder="1" style="border:0; width: 100%; height: 100%;"  alt="">
          </div>

          <!--<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form name="sentMessage" id="contactForm" action="{{ url_for('receive_data') }}" method="post" novalidate>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3" id="success">
                <div class="error-message"></div>
                <div class="sent-message">
                  {% if msg_sent: %}
                    Your message has been sent. Thank you!
                  {% endif %}
                </div>
              </div>
              <div class="text-center"><button type="submit" id="sendMessageButton">Send Message</button></div>
            </form>
          </div>-->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
         Copyright <strong><span>Patrick Nguyen</span></strong>
      </div>
      <div class="credits">
        &copy; {{ year }}</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>